<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2023-03-10T14:18:29Z</date>
	<key>WorkspacePath</key>
	<string>/Users/apple/Office/stack buffers/pixel_care_staff/macos/Runner.xcworkspace</string>
</dict>
</plist>
